@{
    ContentItem contentItem = Model.ContentItem;
    var content = contentItem.Content;
    string primaryTextColorClass = await _siteService.GetPrimaryColorClassAsync("text");
}
<article class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">

    <!-- Title -->
    <h1 class="text-4xl md:text-5xl font-bold @primaryTextColorClass mt-4 mb-6">
        @contentItem.DisplayText
    </h1>

    <!-- Content -->
    <div class="prose prose-lg flex">
        <div class="w-2/3">
            @await DisplayAsync(Model.Content.FlowPart)
        </div>
        <div class="w-1/3 px-8">
            @await RenderSectionAsync(Zones.SpecificPageSidebar, false)
            @await RenderSectionAsync(Zones.PageSidebar, false)
        </div>
    </div>
</article>
