@using OrchardCore.ContentManagement.Display
@inject IContentItemDisplayManager displayManager
@{
    ContentItem contentItem = Model.ContentItem;
    var queryPart = contentItem.Content.QueryPart;
    var items = await Orchard.ContentQueryAsync((string)queryPart.Query.Text);
    string primaryTextColorClass = await _siteService.GetPrimaryColorClassAsync("text");

}

<section class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold @primaryTextColorClass mb-8">
            @contentItem.DisplayText
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            @foreach (ContentItem item in items)
            {
                IShape itemContent = await displayManager.BuildDisplayAsync(item, null, "Summary");

                @await DisplayAsync(itemContent)
            }
        </div>
    </div>
</section> 
