@using OrchardCore.ContentManagement.Display
@inject IContentItemDisplayManager contentItemDisplayManager
@{
    string postSlug = ((string)Orchard.HttpContext.Request.Path);
    postSlug = postSlug.Substring(1, postSlug.Length-1);
    ContentItem contentItem = await Orchard.GetContentItemByHandleAsync($"slug:{postSlug}");
    string primaryTextColorClass = await _siteService.GetPrimaryColorClassAsync("text");

}
@if(contentItem is not null && contentItem.ContentType == "BlogPost")
{
    string categoryId = (string)contentItem.Content.BlogPost.Category.TermContentItemIds[0];
    var items = await Orchard.QueryAsync("RandomCategoryPosts", new Dictionary<string, object>() {
        ["categoryId"] = categoryId, ["limit"] = 3 }
    );
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold @primaryTextColorClass mb-8">@Model.ContentItem.DisplayText</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            @foreach(ContentItem item in items)
            {
                IShape shape = await contentItemDisplayManager.BuildDisplayAsync(item, null, "Summary");
                @await DisplayAsync(shape);
            }            
        </div>
    </div>
}
else
{
    <div>
    @T["RelatedPosts widget cannot be used on this content type."] Content type: @contentItem.ContentType</div>
}