@{
    var items = Model.ContentItem.Content.BagPart.ContentItems;
}
<div>
    <div class="flex space-x-4">
        @foreach (var item in items)
        {
            <a href="@item.SocialNetworkIcon.Link.Url" class="hover:text-[#ef4444] transition-colors">
                <i data-lucide="@item.SocialNetworkIcon.LucideIcon.Text"></i>
            </a>
        }
    </div>
</div>

