<div>
    <div class="flex space-x-4">
        <a href="#" class="hover:text-[#ef4444] transition-colors">
            <i data-lucide="twitter"></i>
        </a>
        <a href="#" class="hover:text-[#ef4444] transition-colors">
            <i data-lucide="facebook"></i>
        </a>
        <a href="#" class="hover:text-[#ef4444] transition-colors">
            <i data-lucide="instagram"></i>
        </a>
        <a href="#" class="hover:text-[#ef4444] transition-colors">
            <i data-lucide="linkedin"></i>
        </a>
    </div>
</div>