@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote {
    @apply bg-[#f5f0e6] p-6 rounded-lg my-8 border-x-0 !important;
}

    blockquote p {
        @apply text-lg italic text-gray-800 my-0 !important;
    }

        blockquote p:nth-child(1):after {
            content: close-quote;
        }

        blockquote p:nth-child(2):before {
            content: " — " !important;
        }

        blockquote p:nth-child(2):after {
            content: "" !important;
        }

        blockquote p:nth-child(2) {
            @apply text-sm text-gray-600 mt-2 !important;
        }

#header-menu > nav {
    @apply flex space-y-2 flex-col sm:flex-row sm:justify-center sm:space-x-4 sm:space-y-0;
}

footer .nav-widget > nav {
    @apply flex flex-col;
}