@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-000000 {
    @apply bg-[#000000];
}
.bg-ff0000 {
    @apply bg-[#ff0000];
}
.bg-003366 {
    @apply bg-[#003366];
}
.bg-1e3a8a {
    @apply bg-[#1e3a8a];
}


blockquote {
    @apply bg-[#f5f0e6] p-6 rounded-lg my-8 border-x-0 !important;
}

    blockquote p {
        @apply text-lg italic text-gray-800 my-0 !important;
    }

        blockquote p:nth-child(1):after {
            content: close-quote;
        }

        blockquote p:nth-child(2):before {
            content: " — " !important;
        }

        blockquote p:nth-child(2):after {
            content: "" !important;
        }

        blockquote p:nth-child(2) {
            @apply text-sm text-gray-600 mt-2 !important;
        }

#header-menu > nav {
    @apply flex space-y-2 flex-col sm:flex-row sm:justify-center sm:space-x-4 sm:space-y-0;
}

footer .nav-widget > nav {
    @apply flex flex-col space-y-2 text-gray-300;
}
footer .nav-widget > nav  a {
        @apply hover:text-[#ef4444] transition-colors;
}

footer .field-type-mediafield {
    @apply flex justify-center md:justify-start;
}
footer .field-type-mediafield .name {
    display: none;
}
footer .field-type-mediafield img {
    @apply h-16;
}


.widget-container-title {
    @apply font-semibold mb-4;
}